* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

a,
button {
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("ProximaNova-Semibold.eot");
  src: url("ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("ProximaNova-Bold.eot");
  src: url("ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "PT Sans", sans-serif;
  color: #fff;
  font-size: 18px;
  background-color: #ebebeb;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-family: "PT Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
  color: #7d7a7c;
  background-color: #fff;
  border: 1px solid #7d7a7c;
  padding: 15px 50px;
}
.btn:hover {
  background-color: rgba(212, 191, 230, 0.6);
}

/* Mobile Menu */
.hamburger {
  display: none;
}

#menu_shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 55, 55, 0.8);
  display: none;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 10000;
}

#mobile_menu_block {
  position: fixed;
  left: -110%;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 400px;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #fff;
  z-index: 10001;
}

.open #menu_shadow {
  display: block;
}

.open #mobile_menu_block {
  left: 0;
}

.mobile_menu {
  margin-bottom: 30px;
}
.mobile_menu li {
  border-bottom: 1px solid #35008b;
}
.mobile_menu li a {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #232323;
  width: 100%;
}
.mobile_menu li a:hover {
  background-color: #35008b;
  color: #fff;
}

.mmb_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  background-color: #a099bb;
}

.scrollup {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  position: fixed;
  bottom: 50px;
  right: 60px;
  display: none;
  text-indent: -9999px;
  background: url("../img/icon_top-min.png") center center no-repeat;
  background-size: cover;
  z-index: 1001;
}

/* Header */
.header {
  height: 160px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header.fixed {
  background-color: rgba(83, 67, 112, 0.7);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  height: 60px;
  -webkit-box-shadow: 0 0 3px #719e9c;
  box-shadow: 0 0 3px #719e9c;
}
.header_container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 30px;
}
.header .small_logo {
  width: 40px;
}
.header .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .menu_list .menu_item {
  margin-right: 30px;
  position: relative;
}
.header .menu_list .menu_item:last-child {
  margin-right: 0;
}
.header .menu_list .menu_item:hover::before {
  background-color: #fff;
}
.header .menu_list .menu_item .active::before {
  background-color: #fff;
}
.header .menu_list .menu_item a {
  font-family: "Proxima Nova Semibold";
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.header .menu_list .menu_item a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 24px;
}

/* section home */
.section_home {
  background: no-repeat;
  background-size: cover;
  padding: 350px 0 400px;
  text-align: center;
}
.section_home h1 {
  font-family: "Proxima Nova Bold";
  font-size: 72px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.section_home .sub_title {
  font-size: 30px;
  font-weight: 300;
  margin: 0 auto;
}

/* Section About_us */
.section_about {
  padding: 120px 0;
}
.section_about .about_wrap {
  padding: 0 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.section_about .about_wrap .about_img {
  width: 33.3333333333%;
}
.section_about .about_wrap .about_img img {
  width: 100%;
}
.section_about .about_wrap .about_info {
  padding-top: 70px;
  width: 55.701754386%;
  color: #7d7a7c;
}
.section_about .about_wrap .about_info p {
  margin-bottom: 30px;
}
.section_about .about_wrap .about_info .about_second_parag {
  margin-bottom: 100px;
}
.section_about .about_wrap .about_info .btn_wrap {
  text-align: center;
}

/* section services */
.services_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: fff;
}
.services_wrap .services_wrap1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 64.9572649573%;
}
.services_wrap .services_wrap1 li {
  width: 50%;
  color: #7d7a7c;
  padding: 110px 60px;
  text-align: center;
}
.services_wrap .services_wrap1 li svg {
  margin-bottom: 20px;
}
.services_wrap .services_wrap1 li h4 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.services_wrap .services_wrap1 li .service_subtitle {
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
}
.services_wrap .services_wrap1 .bg_gray {
  background-color: #dbdbdb;
}
.services_wrap .services_wrap2 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 35.0427350427%;
}
.services_wrap .services_wrap2 .our_services {
  text-align: center;
  padding: 110px 20px 40px;
}
.services_wrap .services_wrap2 .our_services svg {
  margin-bottom: 30px;
}
.services_wrap .services_wrap2 .our_services h4 {
  font-family: "Proxima Nova Semibold";
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 110px;
}
.services_wrap .services_wrap2 .our_services .main_service_subtitle {
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
}
.services_wrap .services_wrap2 .our_services .main_service_subtitle span {
  font-weight: 700;
  font-style: normal;
}

/*sections works */
.works_wrap {
  padding: 70px 0 50px;
  text-align: center;
  background: center center no-repeat;
  background-size: cover;
}
.works_wrap svg {
  margin-bottom: 30px;
}
.works_wrap h3 {
  font-family: "Proxima Nova Semibold";
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.works_wrap .works_slider {
  width: 730px;
  margin: auto;
  margin-bottom: 120px;
}
.works_wrap .works_slider .work_slide {
  height: 550px;
}
.works_wrap .works_slider .work_slide img {
  width: 100%;
}
.works_wrap .works_slider .slick-arrow {
  width: 30px;
  height: 30px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.works_wrap .works_slider .slick-prev {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  left: -200px;
}
.works_wrap .works_slider .slick-prev::before {
  display: none;
}
.works_wrap .works_slider .slick-next {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: -200px;
}
.works_wrap .works_slider .slick-next::before {
  display: none;
}
.works_wrap .works_slider .slick-dots {
  bottom: -60px;
}
.works_wrap .works_slider .slick-dots li {
  width: 10px;
}
.works_wrap .works_slider .slick-dots li button {
  position: relative;
}
.works_wrap .works_slider .slick-dots li button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
}
.works_wrap .works_slider .slick-dots .slick-active button::before {
  background-color: #fff;
}
.works_wrap .btn_works {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
.works_wrap .btn_works:hover {
  background-color: rgba(220, 210, 228, 0.6);
}

/* section team */
.team_wrap {
  padding: 50px 0 100px;
  text-align: center;
}
.team_wrap svg {
  margin-bottom: 25px;
}
.team_wrap h3 {
  font-family: "Proxima Nova Semibold";
  font-size: 36px;
  color: #7d7a7c;
  margin-bottom: 60px;
}
.team_wrap .team_slider {
  width: 94.8717948718%;
  margin: auto;
  padding: 0 15px;
}
.team_wrap .slick-arrow {
  width: 30px;
  height: 30px;
  border: solid #665f60;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.team_wrap .slick-prev {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 60%;
  left: -35px;
}
.team_wrap .slick-prev::before {
  display: none;
}
.team_wrap .slick-next {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 60%;
  right: -35px;
}
.team_wrap .slick-next::before {
  display: none;
}
.team_wrap .upper_div {
  height: 120px;
  background-color: #ebebeb;
}
.team_wrap .person_info {
  text-align: center;
  width: 350px;
  height: 480px;
  background-color: #fff;
  color: #000;
  margin: 0 15px;
  position: relative;
  z-index: 1;
}
.team_wrap .person_info img {
  margin: 0 auto;
  margin-top: -35%;
  position: relative;
  z-index: 100;
  margin-bottom: 36px;
  width: 70%;
}
.team_wrap .person_info .person_name {
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  color: #9f9acf;
  margin-bottom: 30px;
}
.team_wrap .person_info .person_position {
  font-style: italic;
  font-size: 24px;
  color: #665f60;
}
.team_wrap .person_info .soc_list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #9f9acf;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Contact section */
.contact_wrap {
  background: center center no-repeat;
  background-size: cover;
  padding: 70px 0 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.contact_wrap .location_icon {
  margin-bottom: 20px;
}
.contact_wrap h3 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold";
  margin-bottom: 250px;
}
.contact_wrap .icon_info {
  position: absolute;
  top: 20%;
  right: -262px;
}
.contact_wrap .contact_info {
  width: 350px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
}
.contact_wrap .contact_info .icon {
  width: 25%;
  background-color: #9f9acf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact_wrap .contact_info .info {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact_wrap .adress_wrap:hover {
  left: -262px;
}
.contact_wrap .phone_wrap:hover {
  left: -262px;
}
.contact_wrap form {
  width: 73.5042735043%;
  margin: auto;
  margin-bottom: 70px;
}
.contact_wrap form .name_phone_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.contact_wrap form .name_phone_wrap .name_input {
  width: 50%;
  margin-right: 30px;
  height: 50px;
}
.contact_wrap form .name_phone_wrap .email_input {
  width: 50%;
  height: 50px;
}
.contact_wrap form .has_err input,
.contact_wrap form .has_err textarea,
.contact_wrap form .has_err select {
  border: 1px solid tomato;
}
.contact_wrap form .form-text {
  color: tomato;
}
.contact_wrap form .contact_area {
  width: 100%;
  padding: 15px;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-size: 18px;
  background-color: rgba(216, 214, 224, 0.7);
  border: 2px solid transparent;
  outline: none;
}
.contact_wrap form .contact_area::-webkit-input-placeholder {
  color: #fff;
}
.contact_wrap form .contact_area::-moz-placeholder {
  color: #fff;
}
.contact_wrap form .contact_area:-ms-input-placeholder {
  color: #fff;
}
.contact_wrap form .contact_area::-ms-input-placeholder {
  color: #fff;
}
.contact_wrap form .contact_area::placeholder {
  color: #fff;
}
.contact_wrap form .contact_area:focus {
  border: 2px solid #4320a3;
}
.contact_wrap form .text_massage {
  margin-bottom: 60px;
}
.contact_wrap form textarea {
  resize: none;
}
.contact_wrap form .button button {
  background-color: #9f9acf;
  color: #fff;
  font-size: 20px;
  font-family: "Proxima Nova Bold";
  font-style: normal;
}
.contact_wrap form .button button:hover {
  background-color: rgba(113, 107, 167, 0.4);
  border: 1px solid #fff;
}

/* Footer */
footer {
  background-color: #9f9acf;
}
footer .footer {
  padding: 60px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.soc_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.soc_list .soc_item {
  margin-right: 20px;
  padding: 2px;
  background-color: #fff;
  border-radius: 50%;
}
.soc_list .soc_item:last-child {
  margin-right: 0;
}
.soc_list i {
  width: 100%;
  color: #9f9acf;
}
.soc_list i:hover {
  color: #513185;
}

@media screen and (max-width: 1280px) {
  .works_wrap .works_slider .slick-prev {
    left: -80px;
  }
  .works_wrap .works_slider .slick-next {
    right: -80px;
  }
}
@media screen and (max-width: 1060px) {
  .header .menu_list .menu_item a {
    font-size: 20px;
  }

  .section_home {
    padding: 280px 0 300px;
  }
  .section_home h1 {
    font-size: 60px;
  }

  .works_wrap .works_slider .slick-prev {
    left: -50px;
  }
  .works_wrap .works_slider .slick-next {
    right: -50px;
  }
}
@media screen and (max-width: 900px) {
  .header_container nav {
    display: none;
  }
  .header_container .soc_list {
    display: none;
  }
  .header_container .hamburger {
    display: block;
  }

  .section_home {
    padding: 240px 0;
  }
  .section_home h1 {
    font-size: 45px;
  }
  .section_home .sub_title {
    font-size: 24px;
    letter-spacing: 1px;
  }

  .section_about {
    padding: 80px 0;
  }
  .section_about .about_wrap {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section_about .about_wrap .about_img {
    width: 60%;
  }
  .section_about .about_wrap .about_info p {
    text-align: center;
  }

  .services_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .services_wrap .services_wrap1 {
    width: 90%;
  }
  .services_wrap .services_wrap2 {
    width: 90%;
    margin-bottom: 20px;
  }
  .services_wrap .services_wrap2 .our_services {
    padding: 50px 60px;
  }
  .services_wrap .services_wrap2 .our_services h4 {
    margin-bottom: 60px;
  }

  .works_wrap .works_slider {
    width: 500px;
  }
  .works_wrap .works_slider .work_slide {
    height: 380px;
  }

  .team_wrap h3 {
    margin-bottom: 30px;
  }
  .team_wrap .slick-arrow {
    width: 20px;
    height: 20px;
  }
  .team_wrap .slick-prev {
    left: -10px;
  }
  .team_wrap .slick-next {
    right: -10px;
  }
  .team_wrap .person_info .soc_list .soc_item {
    margin-right: 10px;
  }
  .team_wrap .person_info .soc_list .soc_item:last-child {
    margin-right: 0;
  }
  .team_wrap .person_info .soc_list .soc_item i {
    font-size: 16px;
  }

  .scrollup {
    width: 42px;
    height: 42px;
    right: 35px;
    bottom: 35px;
  }
}
@media screen and (max-width: 680px) {
  .section_home {
    padding: 200px 0;
  }
  .section_home h1 {
    font-size: 34px;
  }
  .section_home .sub_title {
    font-size: 20px;
    letter-spacing: 0.8px;
  }

  .btn {
    padding: 15px 30px;
  }

  .section_about .about_wrap .about_img {
    width: 80%;
  }

  .services_wrap .services_wrap1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .services_wrap .services_wrap1 .order {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .services_wrap .services_wrap1 li {
    width: 100%;
  }

  .works_wrap .works_slider {
    width: 350px;
  }
  .works_wrap .works_slider .work_slide {
    height: 270px;
  }
  .works_wrap .works_slider .slick-arrow {
    width: 20px;
    height: 20px;
  }
  .works_wrap .works_slider .slick-prev {
    left: -30px;
  }
  .works_wrap .works_slider .slick-next {
    right: -30px;
  }

  .contact_wrap h3 {
    margin-bottom: 200px;
  }
  .contact_wrap .icon_info .contact_info {
    height: 60px;
  }
  .contact_wrap form .name_phone_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .contact_wrap form .name_phone_wrap .name_input {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact_wrap form .name_phone_wrap .email_input {
    width: 100%;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .footer .soc_list {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 430px) {
  .works_wrap .works_slider {
    width: 240px;
  }
  .works_wrap .works_slider .work_slide {
    height: 200px;
  }
}