* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .1s ease-in;
}

body {
    background-color: #3b3f45;
    border: 26px solid #fff;
    min-height: 720px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

header {
    background-color: #4a4f56;
    margin-bottom: 30px;
}

h1 {
    color: #eb7e7f;
    text-align: center;
    padding: 14px 0 12px;
    font-size: 30px;
}

.p_under_h1 {
    color: #eb7e7f;
    text-align: center;
    font-size: 20px;
    padding-bottom: 12px;
}

/* main */

.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.ul li {
    list-style: none;
    background-color: #88839e;
}

.ul li:nth-child(2n) {
    background-color: #7A7593;
}

.container ul li {
    font-size: 24px;
    color: #fff;  
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.li:hover {
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    background-color: #625e77;
}

.li:active {
    background-color: tomato;
}

.ul li:nth-child(2n):active {
    background-color: tomato;
}

.li input:checked + span {
    color: #b9c6d6;
    text-decoration: line-through;
}

.li input:checked > span > span  {
    text-decoration: line-through;
} 

.li input {
    transform:scale(1.6);
    margin-left: 18px;
}

.li > label {
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    width: 100%;
}

.li > label > span {
    padding-left: 16px;
    position: relative;
    font-size: 20px;

}

.span {
    font-size: 14px;
    color: #b9c6d6;
    position: relative;
    padding-left: 14px;
}

.span::before {
    content: '(';
    display: block;
    position: absolute;
    left: 10px;
    top: 0px;
}

.span_1::after {
    content: ')';
    display: block;
    position: absolute;
    left: 210px;
    top: 0px;
}

.span_2:after {
    content: ')';
    display: block;
    position: absolute;
    left: 188px;
    top: 0px;
}

.span_3:after {
    content: ')';
    display: block;
    position: absolute;
    left: 190px;
    top: 0px;
}

.span_4:after {
    content: ')';
    display: block;
    position: absolute;
    left: 198px;
    top: 0px;
}

.span_6:after {
    content: ')';
    display: block;
    position: absolute;
    left: 110px;
    top: 0px;
}

/* footer */

button {
    background-color: #4a4f56;
    border: none;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    margin-top: 24px;
    font-size: 20px;
    padding: 16px 0;
    color: #eb7e7f;
}
