@import 'reset';

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 80%;
    margin-top: 20px;
}
button {
    margin-bottom: 20px;
}