@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.woff2') format('woff2'),
       url('../fonts/icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?33313757#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-format_underlined:before { content: '\e800'; } /* '' */
.icon-insert_photo:before { content: '\e801'; } /* '' */
.icon-format_align_center:before { content: '\e803'; } /* '' */
.icon-format_align_justify:before { content: '\e804'; } /* '' */
.icon-format_align_left:before { content: '\e805'; } /* '' */
.icon-format_align_right:before { content: '\e806'; } /* '' */
.icon-format_bold:before { content: '\e807'; } /* '' */
.icon-format_color_text:before { content: '\e808'; } /* '' */
.icon-format_italic:before { content: '\e809'; } /* '' */
.icon-format_size:before { content: '\e80a'; } /* '' */