* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Raleway', sans-serif;
}



/* Header */

.header {
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(249, 248, 251, .7)
}

.header_container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_list {
    list-style: none;
    display: flex;
    
}

.menu_list li {
    margin-right: 38px;
    position: relative;
}

.menu_list li:last-child {
    margin-right: 0;
}

.menu_list li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
    font-size: 16px;
    font-weight: 700;
}

.menu_list li a:hover::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff6033;
    position: absolute;
    bottom: 24px;
}



/* Section Fresh Life */

.section_fresh-life {
    background-color: #f9f8fb;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.padding_fresh-life {
    padding: 349px 0 68px 0;
    background-image: url(../img/BgC1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right -14px top 0;
}

.fresh_life {
    color: #262626;
}

.fresh_life h2 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 12px;
    margin-left: -4px;
}

.sub_title-fresh_life {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 46px;
}

.get_btn {
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;;
    padding: 16px 25px;
    background-color: #ff6033;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .35);
}

.get_btn:hover {
    background-color: #e4532a;
}

.btn_box {
    margin-bottom: 310px;
}

.mouse {
    display: flex;
    justify-content: center;
    position: relative;
}

.mouse div {
    border: 3px solid #262626;
    width: 24px;
    height: 40px;
    border-radius: 12px;
    opacity: .9;
}

.mouse div::before {
    content: '';
    display: block;
    width: 2px;
    height: 10px;
    background-color: #262626;
    position: absolute;
    top: 6px;
    left: 50%;
    border-radius: 1px;
    transform: translateX(-1px);

}



/* Section About us */

.section_about-us {
    font-family: 'Raleway', sans-serif;
    background-color: #00b0b0;
    background-image: url(../img/bcg-img2.png);
    background-repeat: no-repeat;
    background-position: left 122px top 34px;
    font-family: 'Raleway', sans-serif;
}

.padding_about-us {
    padding: 162px 0 230px 0;
}

.about_us {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about_us h2 {
    color: #fff;
    font-size: 90px;
    font-weight: 700;
    margin-right: 106px;
    margin-bottom: 7px;
}

.sub_titles-about_us {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about_us p {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    color: #fff;
}

.sub_title1 {
    margin-right: 25px;
    margin-bottom: 11px;
}



/* Section Our Servises */

.section_our-servises {
    background-color: #70bfff;
}

.padding_our-servises {
    padding: 180px 0 132px 100px;
    background: url(../img/tomato_background.png) no-repeat right top 100px;
}

.our_servises {
    display: flex;
    justify-content: space-between;
}

.our_servises a:hover {
    background-color: rgb(231, 226, 226);
}

.servise_list {
    list-style: none;
    width: 37.3831776%;
}

.servise_list li {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 1px 2px 5px #000;
}

.servise_list li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #262626;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.servise_name {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #9d9d9d;
    padding: 38px 0;
}

.servise_name3 {
    padding: 26px 0;
}

.servise_img {
    display: inline-block;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servise_title {
    padding-top: 130px;
}

.servise_title h2 {
    font-size: 90px;
    font-weight: 700;
    color: #fff;
}