@import 'reset';

body {
    height: 10000px;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

header {
    min-height: 100vh;
    border: 2px solid #00f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 130px;
}

.header_text_wrap {
    height: 450px;
    border: 2px solid #0f0;
    width: 90%;
    max-width: 600px;
}

.scroll_icon {
    position: absolute;
    width: 30px;
    height: 60px;
    border: 2px solid #f00;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

.block {
    border: 2px solid #000;

}

.wrap {
    input {
        display: none;

        &:checked+label {
            color: #f00;

            &::after {
                transform: rotate(-135deg);
                top: 15px;
            }

            +.text {
                height: 150px;
            }
        }


    }

    label {
        display: inline-block;
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        border-radius: 4px;
        line-height: 40px;
        height: 40px;
        padding: 0 20px;
        cursor: pointer;
        transition: all .2s ease;
        width: 100%;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            right: 10px;
            top: 10px;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            transform: rotate(45deg);
            transition: all .2s ease;

        }

        &:hover {
            background-color: #000;
            color: #fff;

            &::after {
                border-color: #fff;
            }
        }

    }

    .text {
        height: 0;
        overflow: hidden;
        border: 1px solid #efefef;
        transition: all .2s ease;
    }

    .text_inner {
        padding: 15px;
    }
}