* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url(../img/background.png) right top/auto 100% no-repeat, rgb(77,82,83);
    background: url(../img/background.png) right top/auto 100% no-repeat, -moz-linear-gradient(135deg, rgba(77,82,83,1) 0%, rgba(26,30,33,1), 100%);
    background: url(../img/background.png) right top/auto 100% no-repeat, -webkit-linear-gradient(135deg, rgba(77,82,83,1) 0%, rgba(26,30,33,1), 100%);
    background: url(../img/background.png) right top/auto 100% no-repeat, linear-gradient(135deg, rgba(77,82,83,1) 0%, rgba(26,30,33,1) 100%);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.payment-card {
    width: 336px;
    background-color: #fff;
    opacity: .95;
}

.header {
    background-color: #f8edaf;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.header__block-title {
    color: #6e7f7b;
    font-size: 14px;
    font-weight: 700;
}

.header__block-subtitle {
    font-size: 10px;
    color: #a6a28d;
    text-transform: uppercase;
}

.header__price {
    font-size: 36px;
    color: #6e7f7b;
    font-weight: 600;
}

.payment-card__box {
    padding: 40px 24px 18px;
}

.form__fields {
    padding-bottom: 31px;
    border-bottom: 1px solid #e3e7e8;
    margin-bottom: 30px;
}

.form__field {
    margin-bottom: 26px;
}

.form__field--last {
    margin-bottom: 0;
}

.form__field-title {
    display: block;
    font-size: 13px;
    color: #9eabad;
    margin-bottom: 8px;
}

.form__control-input, .form__control-select {
    height: 44px;
    width: 100%;
    border: 2px solid #b3c1c3;
    padding: 0 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #727f82;
    caret-color: #eecc68;
    background-color: #fff;
    border-radius: 0;
}

.form__control-input:focus, .form__control-select:focus {
    border-color: #7fcddf;
    outline: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__control--wide {
    width: 176px;
}

.form__control--short {
    width: 96px;
}

.form__control-hint {
    font-size: 12px;
    color: #9eabad;
}

.form__control-tooltip {
    border-bottom: 1px solid #e4eaea;
    cursor: help;
}

.form__action-button {
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    width: 100%;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    line-height: 48px;
}

.btn-green {
    background-color: #26b168;
}

.btn-green:hover {
    background-color: #168d4e;
}

.btn-link {
    font-family: 'Montserrat', sans-serif;
    color: #98a5a7;
    font-size: 12px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #dae0e0;
    padding: 4px;
}

.btn:focus, .btn-link:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #7fcddf;
}

.mb-0 {
    margin-bottom: 0;
}