@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts/HansKendrick-Regular.woff') format('woff'),
    url('../fonts/HansKendrick-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
